<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluidos en Angular - Usualmente en commont Module</p>
</div>

<div class="grid">
  <div class="md:col-4"><p-card header="uppercase" [subheader]="nombreLower | titlecase">{{nombreLower |
      uppercase}}</p-card></div>
  <div class="md:col-4"><p-card header="uppercase" [subheader]="nombreLower | uppercase">{{nombreLower |
      uppercase}}</p-card></div>
  <div class="md:col-4"><p-card header="uppercase" [subheader]="nombreLower | titlecase">{{nombreLower |
      uppercase}}</p-card></div>

</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipes para Mostrar las fechas</p>
</div>


<div class="grid">
  <div class="md:col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'short'</li>
      </ul>
      <hr>
      <ul>
        <li>

        </li>
      </ul>
    </p-card>
  </div>
  <div class="md:col-6">
    <p-card>
      <ul>
        <li>{{fecha}}</li>
        <li>{{fecha | date}}</li>
        <li>{{fecha | date:'short'}}</li>
        <li>{{fecha | date:'long'}}</li>
        <li>{{fecha | date:'S'}}</li>
      </ul>
      <hr>
      <ul>
        <li>
          {{fecha | date:'long':'GMT-6'}}
        </li>
        <li>
          {{fecha | date:'long':'GMT-4'}}
        </li>
      </ul>
    </p-card>
  </div>


</div>